.Navbar {
  background-color: #34c94b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 74px;
  padding: 0px 32px;
}

.logo {
  margin-right: 25px;
  display: flex;
  margin: 14px;
  cursor: pointer;
}
